PlayerMoved                      | "xx has moved to the xx", 
PlayerMadeSuggestion             | "xx suggests it was xx in the xx with the xx",
PlayerMustDisproveSuggestion     | "", 
PlayerDisprovedSuggestion        | "xx has disproven xx's suggestion",
PlayerDisprovedSuggestionWithClue| "xx's clue of xx disproves your suggestion",
PlayerFailedToDisproveSuggestion | "No one could disprove xx's suggestion",
PlayerMadeAccusation             | "xx accuses xx of murder in the xx with the xx",
PlayerAccusationCorrect          | "xx's accusation is correct and has therefore solved the murder!",
PlayerAccusationIncorrect        | "xx's accusation is incorrect",
PlayerEndTurn                    | "xx ends their turn",
PlayerGetTurn                    | "It is now xx's turn",
PlayerQuitNotice                 | "xx has left the game",
PlayerChat                       | "(xx) xx"